/* Fonts offline (substitui os .woff2 pelos reais mantendo o nome) */
@font-face{
  font-family:'Stardos Stencil';
  src:url('../fonts/stardos-stencil-regular.woff2') format('woff2');
  font-weight:400;
  font-style:normal;
  font-display:swap;
}
@font-face{
  font-family:'Stardos Stencil';
  src:url('../fonts/stardos-stencil-700.woff2') format('woff2');
  font-weight:700;
  font-style:normal;
  font-display:swap;
}
