rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Aulas - leitura pública, escrita só autenticada via app
    match /aulas/{aulaId} {
      allow read: if true;
      allow write: if true;
    }

    // Alunos
    match /alunos/{tel} {
      allow read: if true;
      allow write: if true;
    }

    // Convites
    match /convites/{codigo} {
      allow read: if true;
      allow write: if true;
    }
  }
}
